.fullscreen-nav__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.fullscreen-nav__no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background: $tertiary-color;
}



.fullscreen-nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
  text-shadow: 0px 1px 2px darken($tertiary-color, 25%);
}

.fullscreen-nav__animated-underscore-wrapper {
  overflow: hidden;
  transform: translateY(-9px);
}

.fullscreen-nav__animated-underscore-left {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  transition: all .4s ease-in-out;
}

.fullscreen-nav__animated-underscore-right {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  transition: all .4s ease-in-out;
}

.fullscreen-nav__animation-wrapper {
  transition: all .1s ease-in-out;
}

