.fullscreen-nav__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.fullscreen-nav__no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background: #6744d1;
  // background: linear-gradient(270deg, rgb(103, 68, 209), rgb(63, 14, 209));
}



.fullscreen-nav__menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
  text-shadow: 0px 1px 2px #3f0ed1;
}

.fullscreen-nav__animated-underscore-wrapper {
  overflow: hidden;
  transform: translateY(-9px);
}

.fullscreen-nav__animated-underscore-left {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  transition: all .4s ease-in-out;
}

.fullscreen-nav__animated-underscore-right {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  transition: all .4s ease-in-out;
}

.fullscreen-nav__animation-wrapper {
  transition: all .1s ease-in-out;
}

.fade-appear {
  opacity: 0;
  transform: translateY(150px);
}

.fade-appear .fade-appear-active {
  opacity: 1;
  transform: translateY(0px);
}

.fade-exit {
  opacity: 0;
}

.fade-exit-done {
  opacity: 0;
  z-index: -100;
}

.fade-enter {
  opacity: 1;
}

.fade-enter-done {
  opacity: 1;
  z-index: 5;
}
