.header {
    padding: $s-size;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @media (min-width: $mobile-breakpoint) {
        justify-content: center;
    }
}

.header__nav-box {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 20px;
    width: 30px;
    margin: $s-size;
}

.header__menu-icon-line {
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    background-color: $grey;
    margin-bottom: 6px;
    border-radius: 2px;
}

.header__title {
    position: relative;
    color: $grey;
    margin: 0;
    font-family: $highlight-font;
    letter-spacing: 2px;
}