.portfolio-item-container {
  max-width: 1150px;
  display: flex;
  flex-flow: row wrap;
  margin: -60px auto 0 auto;
  z-index: -1;
}

.portfolio__popup-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
}

.portfolio-item {
  flex: 1 50%;
  padding: 0 50px 40px;
  box-sizing: border-box;
  min-height: 650px;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: center;
  font-family: $main-font;
}

@media (max-width: $tablet-breakpoint) {
  .portfolio-item {
      flex: 1 100%;
  }
}

.portfolio__card-content {
  > * {
    transition: all .1s ease-in-out;
  }
}

.portfolio__intro-text {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  font-size: 7rem;
  font-family: $highlight-font;
  z-index: 2;
}

.portfolio__social-icons {
  font-size: 4rem;
  margin: 0 2rem;
  > * {
    padding: 0 1rem;
    color: white;
    z-index: 12;
  }
}

.portfolio__social-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  transition: all .1s ease-in-out;
}

.portfolio-item-wide {
  flex: 1 100%;
  min-height: 575px;
}