.section__portfolio-intro {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.section__portfolio-cards {
  margin-top: -225px;
  padding: 0px 25px;
  position: relative;
}

@media (max-width: $mobile-breakpoint) {
  .section__portfolio-cards {
      padding: 0;
  }
}