.section__portfolio-intro {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.section__portfolio-cards {
  margin-top: -225px;
  padding: 0px 25px;
  position: relative;
}

.section__about-me {
  margin-top: 100px;
  padding: 0px 25px;
}

.section__photography {
  margin-top: 100px;
  padding: 0px 25px;
}

.section__contact {
  margin-top: 100px;
  padding: 0px 25px;
}

.main-wrapper {
  position: absolute;
  transition: all 1s ease-in-out;
}

@media (max-width: $mobile-breakpoint) {
  .section__portfolio-cards, .section__about-me, .section__photography {
      padding: 0;
  }
  .section__contact {
    padding: 5px;
  }
}