.section__portfolio-intro {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.section__portfolio-cards {
  margin-top: -225px;
  padding: 0px 25px;
  position: relative;
}

.section__portfolio-browser {
  position: fixed;
  height: 100%;
  width: 100%;

}

.section__micro-browser {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px 25px;
  height: 100vh;
  width: 100vw;
}



.section__about-me {
  margin-top: 100px;
  padding: 0px 25px;
}

.section__photography {
  margin-top: 100px;
  padding: 0px 25px;
}

.section__contact {
  margin-top: 100px;
  padding: 0px 25px;
}

.section__footer {
  background: linear-gradient(to bottom, #fafafa, darken(#fafafa, 12%));
  height: 250px;
  overflow: hidden;
}

.main-wrapper {
  position: absolute;
  transition: all 1s ease-in-out;
}

@media (max-width: $mobile-breakpoint) {
  .section__portfolio-cards, .section__about-me, .section__photography, .section__footer , .section__micro-browser {
      padding: 0;
  }
  .section__contact {
    padding: 5px;
  }
}