// set global font size to 62.5% so rem becomes base 10
html {
    font-size: 62.5%;
}

body {
    font-size: $m-size;
    color: $dark-grey;
    line-height: 1.6;
    background: $off-white;
}

.is-active {
    color: blueviolet;
    font-weight: bold;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

* {
    box-sizing: border-box;
}

a {
    font-size: 5rem;
    color: #ffffff;
    opacity: .95;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
